@model CategoryPortfoliaViewModel


@{
    ViewData["Title"] = "Portfolia";
}
<div class="col-md-12">

    <!-- MAIN NAV -->

    <div class="inside-sec">
        <!-- BIO AND SKILLS -->
        <h5 class="tittle">PORTFOLIO</h5>

        <!-- PORTFOLIO -->
        <section class="portfolio padding-top-50 padding-bottom-50">
            <!-- Work Filter -->
            <ul class="tabs portfolio-filter text-center margin-bottom-30">
                <li class="filter" data-filter="all">all</li>
                @foreach (var item in Model.Categories)
                {
                    <li class="filter" data-filter=".@item.Id">@item.Name</li>

                }
            </ul>

            <!-- PORTFOLIO ITEMS -->
            <div id="Container" class="item-space row col-3">

                <!-- ITEM -->


                @foreach (var item in Model.Portfolias)
                {

                    <article class="portfolio-item mix @item.Category.Id  design photo visual">
                        <div class="portfolio-image">
                            <a href="#."> <img class="img-responsive" alt="Open Imagination" src="~/uploads/images/@item.ImageUrl"> </a>
                            <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                    <div class="position-center-center">
                                        <h3 class="no-margin">@item.Title</h3>
                                        <span><a href="#.">Fashion / trending</a></span> <a href="@item.ProjectLink" class="go"><i class="fa fa-search"></i></a> <a href="@item.ProjectLink" class="go"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                }


            </div>
        </section>
    </div>
</div>
